<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <mat-icon>twitter_bird</mat-icon>
  <h3>{{title}}</h3>
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/create">Create Class</button>
  <button mat-button routerLink="/edit"> Edit Class</button>
</mat-toolbar>

<router-outlet></router-outlet>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Got a response from the Boston University archives and no luck unfortunately. They only have a record of Mara appearing in a yearbook that I have already seen scans of 😅  <a href="https://twitter.com/hashtag/RJ?src=hash&amp;ref_src=twsrc%5Etfw">#RJ</a> <a href="https://twitter.com/hashtag/1102kidsci?src=hash&amp;ref_src=twsrc%5Etfw">#1102kidsci</a></p>&mdash; Max Flanter (@Maxthesax47) <a href="https://twitter.com/Maxthesax47/status/1042167016365293568?ref_src=twsrc%5Etfw">September 18, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

