<div align="center">
  <form>
    <div>
      <h3>Select a Class</h3>
      <mat-form-field>
        <mat-select [formControl]="emptyValidation" [(ngModel)]="selectedValue" name="section" required>
          <mat-placeholder>Section</mat-placeholder>
          <mat-option *ngFor="let section of sections" [value]="section.id">
            {{section.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="emptyValidation.invalid">Please Select a class before proceeding</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" routerLink="/view/{{selectedValue}}">Go to Class</button>
    </div>

      <button mat-button="" [formControl]="emptyValidation" name="alink" routerLink="/edit/{{selectedValue}}" required>Edit Class</button>
  </form>
  <button mat-button="" routerLink="/create" required>Create Class</button>
</div>
