<p>
  create-class works!
</p>
<div layout="row">
  <table class="" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="">
          <input matInput placeholder="Name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="">
          <input matInput placeholder="Handle">
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>
<button mat-raised-button color="primary">Add Student</button>


<div>
  <button mat-raised-button color="primary">Create</button>
</div>
